body{
    background-color: black;
}

#nav{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.btn > button{
    background-color: black;
    color: white;
     padding: 20px;
     font-size: larger;
     font-weight: bold;
     border:none;
     border-radius: 5px;
     border:1px white solid;
     cursor: pointer;
     position: relative;
     left: 570px;
}

button:hover{
    background-color: white;
    color: black;
}

